*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    height: 10%;
    padding: 0px 20px;
    display: flex;

    align-items: center;
    justify-content: space-between;

    background-color: #f2f7ff;
}

.logo {
    width: 150px;
}

.nav_list {
    width: 230px;
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
}

.list_item {
    list-style: none;
}

.list_item > a,
.list_item > a:visited {
    color: #000;
}

.list_item > a:hover {
    color: #566c9c;
}

main {
    height: 90vh;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-image: url("https://cdn.pixabay.com/photo/2020/01/26/20/14/computer-4795762_960_720.jpg");
    background-size: cover;

    color: #fff;
    text-shadow: 0 3px 3px black;
}

.block {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text_block {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 10px;
}

.image {
    max-height: 200px;
    border-radius: 8px 40px;
}

.purpose {
    background-color: #bdc8db;
}

.about {
    color: #fff;
    background-color: #566c9c;
}

.github {
    background-color: #bdc8db;
}

.button {
    margin: auto;
    width: 150px;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #1960fa;
    color: #fff;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    background-color: #566c9c;
    color: #fff;
}

@media (min-width: 800px) and (max-width: 1080px) {
    .text_block {
        max-width: 300px;
    }
}

@media (max-width: 800px) {
    .block {
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .text_block {
        max-width: 80vw;
    }

    .image {
        max-width: 80vw;
        border-radius: 10px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px 0;
        flex-direction: column;
    }
}